<style>
	/*.calories {
        color:#BBB48C;
	}*/
    
	.notMyOption {
        text-decoration: line-through;
        color: gray;
	}  
    
    /* spiner icon: http://stackoverflow.com/a/26283602 */
    .glyphicon.spinning {
        animation: spin 1s infinite linear;
        -webkit-animation: spin2 1s infinite linear;
    }

    @keyframes spin {
        from { transform: scale(1) rotate(0deg); }
        to { transform: scale(1) rotate(360deg); }
    }

    @-webkit-keyframes spin2 {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }
    /* end spiner icon */
      
</style>

{{> navbar}}

<div class="container">

    {{#if areMenus}}
		<h1>Meniurile viitoare</h1>
		<hr>
		
		{{#each menus as |menu menuIndex|}}	
			<h4>Meniul de 
				<strong>{{menuDateFormated}}</strong> 
				<small style="font-size:14px"></small>
			</h4>
			
			<ul class="list-group" data-menu-date="{{menu.menuDate}}" data-preference-id="{{menu.preferenceId}}">
				{{#each dishes as |dish dishIndex|}}
					<li class="list-group-item" data-category = "{{dish.category}}" data-option = "{{dish.option}}" style='border: 0 none;'>	
						{{#if option}}
							<strong>{{option}}.</strong>
						{{/if}}

                        <span class="text-muted">{{name}}</span>{{#if isFasting}}<span> (post)</span>{{/if}}{{#if calories}}<span>, <span class="calories">{{calories}} cal.</span></span>{{/if}}
                        
                        {{#if isMyOption}}
                            </br>
                            <span class="label label-success isMyOption">
                                <span class="glyphicon glyphicon-ok"></span> Optiunea mea
                            </span>
                        {{/if}}
                        {{#if isNotMyOption}}
                            </br>
                            <button type="button" class="btn btn-default btn-sm setMyOption" style="color:#337ab7">
                                <span class="glyphicon glyphicon-pushpin" style="color:#337ab7"></span> 
                                Da, vreau!
                            </button>
                        {{/if}}  
                        
                        <br/>
						<span class="text-muted">{{description}}</span>

					</li>
				{{/each}}
			</ul>					
			<hr>				
		{{/each}} 
        
	{{else}}
		<h4> Nu exista meniuri pentru perioada urmatoare!</h4>
	{{/if}}
    
    Vezi si <a href="/todaysMenu">meniul de astazi &raquo;</a>
    <hr>
</div>

{{#section 'script'}}
    <script src="/views/menu/menu.js"></script>
{{/section}}