<style>
	/*.calories {
        color:#BBB48C;
	}	*/
</style>

{{> navbar}}

<div class="container">

    {{#if areMenus}}
		<h1>Meniurile viitoare</h1>
		<hr>
		
		{{#each menus}}	
			<h4>Meniul de 
				<strong>{{menuDateFormated}}</strong> 
				<small style="font-size:14px"></small>
			</h4>
			
			<ul class="list-group">
				{{#each dishes}}
					<li class="list-group-item" style='border: 0 none;'>	
						{{#if option}}
							<strong>{{option}}.</strong>
						{{/if}}
                        <span class="text-muted">{{name}}</span>{{#if isFasting}}<span> (post)</span>{{/if}}{{#if calories}}<span>, <span class="calories">{{calories}} cal.</span></span>{{/if}}
						<span class="text-muted">{{description}}</span>
					</li>
				{{/each}}
			</ul>					
			<hr>				
		{{/each}} 
	{{else}}
		<h4> Nu exista meniuri pentru perioada urmatoare!</h4>
	{{/if}}
    
    Vezi si <a href="/todaysMenu">meniul de astazi &raquo;</a>
    <hr>

</div>